* {
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255,255,255);
    justify-content:center;
   }

h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 16vw;
    height: 16vw;
    background-color: rgb(0,0,0);
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgb(0,0,0,0.2);
}
#start {
  margin: 20px;
}

#reset {
    margin: 20px;
}
#board > button{
    width: 7.5vw;
    height: 13vh;
    outline: none;
    margin-top: 5px;
    margin-left: 5px;
}
#red  {
    background: linear-gradient(to right,#FF0000, #CC0000,#990000);
    border-top-left-radius: 100%;
}

.light-0{ 
    background: linear-gradient(to right,#f07a7a, #964343,#eff1d6) !important;
}

#blue {
    background: linear-gradient(to right, #0000FF, #0000CD,#0e0e75);
    border-top-right-radius: 100%;
}

.light-1{
    background: linear-gradient(to right, #7171f5, #262679,#cacaf5) !important;
}

#yellow {
    background: linear-gradient(to right, #FFFF00,#CCCC00,#424205);
    border-bottom-left-radius: 100%;
}

.light-2{
    background: linear-gradient(to right, #585809,#949446,#f3f3be) !important;
}

#green {
    background:linear-gradient(to right,#00FF00,#00CC00,#009900);
    border-bottom-right-radius: 100%;
}

.light-3{
    background:linear-gradient(to right,#053305,#358335,#70dee6) !important;
}

#timer{
    display:grid;
    justify-content: center;
    align-items: center;
}

.light{
    border: 1vmin solid white;
}