* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255,255,255);
    justify-content:center;
   }

h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#board {
    display: flex;

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center; */
    justify-content: center;
    align-items: center;
    flex-direction: center;
    flex-wrap: wrap;
    width: 50vmin;
    height: 50vmin;
    background-color: rgb(0,0,0);
    border-radius: 50%;
}

#msg{
    margin: 3vmin 0 3vmin 0;
}

#start {
    margin: 3vmin;
}

#board > button{
    width: 23.5vmin;
    height: 23.5vmin;
    outline: none;
}
#red  {
    background: #bb1212;
    border-top-left-radius: 100%;
    margin-right: 5px;
}

#red:active {
    background: #f10606;
}

.light-0{ 
    background: #f10606 !important;
}

#blue {
    background:#2121aa;
    border-top-right-radius: 100%;
}

#blue:active {
    background: #0808ee;
}

.light-1 {
    background: #0808ee !important;
}

#yellow {
    background: #c7c72c;
    border-bottom-left-radius: 100%;
    margin-right: 5px;
}

#yellow:active {
    background: #f0f009;
}
.light-2{
    background: #f0f009  !important;
}

#green {
    background: #1c911c;
    border-bottom-right-radius: 100%;
}

#green:active {
    background: #09e409
}
.light-3{
    background: #09e409 !important;
}
